# Variables comunes
env_vars_common = {
  JAVA_OPTS = "-Xms256m -Xmx512m"
}

# Variables especificas del ambiente PREPROD
env_vars = {
  SPRING_PROFILES_ACTIVE = "preprod"
  DB_URL                 = "jdbc:postgresql://blgyj5rujfp4pkxoxa2nh-postgresql.services.clever-cloud.com:50013/blgyj5rujfp4pkxoxa2nh?sslmode=require"
  DB_USERNAME            = "u1x4y3mgf15lw8sk1gsx"
  DB_PASSWORD            = "nFUXZnE75vV3PY3lW6kHNJA1w5nD5"
  APP_KEY                = "dapps2-2025"
  EVENTS_MODE            = "direct"
}