# Variables comunes
env_vars_common = {
  JAVA_OPTS = "-Xms256m -Xmx512m"
}

# Variables específicas del ambiente PREPROD
env_vars = {
  SPRING_PROFILES_ACTIVE = "preprod"
  DB_URL                 = "jdbc:postgresql://blgyj5rujfp4pkxoxa2nh-postgresql.services.clever-cloud.com:50013/blgyj5..."
  DB_USERNAME            = "u1x4y3mgf15lw8sk1gsx"
  DB_PASSWORD            = "nfUZxEm75yVPv3Y1GLw6KhJnAW5ndB"
  APP_KEY                = "dapps2-2025"
  EVENTS_MODE            = "direct"
}
